name: b2b_mvp
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  flutter_modular: ^6.3.2
  asp: ^1.3.0
  firebase_core: ^2.25.5
  firebase_auth: ^4.17.6
  google_sign_in: ^6.2.1
  http: ^1.2.0
  logger: ^2.1.0
  carousel_slider: ^4.2.1
  icons_plus: ^5.0.0
  hive: ^2.2.3
  hive_generator: ^2.0.1
  path_provider: ^2.1.2
  build_runner: ^2.4.8
  flutter_launcher_icons: ^0.13.1
  auto_size_text: ^3.0.0
  intl: ^0.19.0
  hexcolor: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/icon/icon.png

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/icon/icon.png"
    background_color: "#hexcode"
    theme_color: "#hexcode"
  windows:
    generate: true
    image_path: "assets/icon/icon.png"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/icon/icon.png"

